<!DOCTYPE html>
<html>
    <head xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <title>Inspeccion</title>
        <meta charset="UTF-8"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
         <link rel="stylesheet" href="style.css"/>
    </head>
    <body style="background-color: #212529">
        
        <div class="p-3 mb-2 bg-dark text-white">
            <div>Vehiculos a nombre de : <span th:text="${duenio.nombre}"></span></div>
            <br/>
            <span>Seleccione vehiculo para inspeccionar o ingrese uno nuevo</span>
            <div th:if="${listaVehiculos != null and !listaVehiculos.empty}">
                <table class="table table-dark">
                    <tr>
                        <th scope="col">Dominio</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Propietario</th>
                        <th scope="col">Seleccionar</th>
                    </tr>
                    <tr th:each="vehiculo : ${listaVehiculos}">
                        <div th:if="${vehiculo.duenio.idDuenio == duenio.idDuenio}">
                            <td scope="row" th:text="${vehiculo.dominio}"></td>
                            <td th:text="${vehiculo.marca}"></td>
                            <td th:text="${vehiculo.modelo}"></td>
                            <td th:text="${vehiculo.duenio.nombre}"></td> 
                            <td><a th:href="@{/InspeccionarVehiculo/} + ${vehiculo.idVehiculo}" th:text="Seleccionar"/></td>
                        </div>
                    </tr>
                </table>

                <a th:href="@{/nuevo/} + ${duenio.idDuenio}" th:text="'Nuevo Vehiculo'"/>
                <span><a href="/ListadoDuenios" th:text="Regresar"></a></span>
            </div>
        </div>
    </body>
</html>
