<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Evaluacion Automotr</title>
        <meta charset="UTF-8"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
         <link rel="stylesheet" href="style.css"/>
    </head>
    <body style="background-color: #212529">
        
        <div class="p-3 mb-2 bg-dark text-white">
            
        <div th:text="${vehiculo.marca + ' ' + vehiculo.modelo + ' de dominio : ' + vehiculo.dominio}"/>
        <br/>
        <form th:action="@{/idataManagment}" method="post" th:object="${idata}">
            <div th:object="${vehiculo}"></div>
            <div th:field="${id}" th:object="${idata}"></div>
            <table class="table table-dark">
                <tr>
                    <th scope="col">Tipo de Evaluacion</th>
                    <th scope="col">Apto</th>
                    <th scope="col">Condicional</th>
                    <th scope="col">Rechazado</th>
                </tr>
                <tr>
                    <td scope="row">Luces</td>
                    <td><input type="radio" th:name="luces" th:field="*{luces}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="luces" th:field="*{luces}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="luces" th:field="*{luces}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Patente</td>
                    <td><input type="radio" th:name="patente" th:field="*{patente}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="patente" th:field="*{patente}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="patente" th:field="*{patente}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Espejos</td>
                    <td scope="row"><input type="radio" th:name="espejos" th:field="*{espejos}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="espejos" th:field="*{espejos}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="espejos" th:field="*{espejos}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Chasis</td>
                    <td><input type="radio" th:name="chasis" th:field="*{chasis}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="chasis" th:field="*{chasis}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="chasis" th:field="*{chasis}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Vidrios</td>
                    <td><input type="radio" th:name="vidrios" th:field="*{vidrios}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="vidrios" th:field="*{vidrios}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="vidrios" th:field="*{vidrios}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Seguridad y Emergencia</td>
                    <td><input type="radio" th:name="seguridadEmergencia" th:field="*{seguridadEmergencia}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="seguridadEmergencia" th:field="*{seguridadEmergencia}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="seguridadEmergencia" th:field="*{seguridadEmergencia}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Suspension</td>
                    <td><input type="radio" th:name="suspension" th:field="*{suspension}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="suspension" th:field="*{suspension}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="suspension" th:field="*{suspension}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Direccion y Tren Delantero</td>
                    <td><input type="radio" th:name="dirTrenDelantero" th:field="*{dirTrenDelantero}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="dirTrenDelantero" th:field="*{dirTrenDelantero}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="dirTrenDelantero" th:field="*{dirTrenDelantero}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Frenos</td>
                    <td><input type="radio" th:name="frenos" th:field="*{frenos}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="frenos" th:field="*{frenos}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="frenos" th:field="*{frenos}" th:value="rechazado"/></td>
                </tr>
                <tr>
                    <td scope="row">Luces</td>
                    <td><input type="radio" th:name="contaminacion" th:field="*{contaminacion}" th:value="apto" required="required"/></td>
                    <td><input type="radio" th:name="contaminacion" th:field="*{contaminacion}" th:value="condicional"/></td>
                    <td><input type="radio" th:name="contaminacion" th:field="*{contaminacion}" th:value="rechazado"/></td>
                </tr>
            </table>
            <br/>
            <input type="submit" name="guardarInspeccion" value="Guardar"/>
        </form>

        </div>
    </body>
</html>
