<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Propietarios</title>
        <meta charset="UTF-8"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body style="background-color: #212529">
        
        <div class="p-3 mb-2 bg-dark text-white">
            
        <h1>Propietarios</h1>
        <div th:if="${propietarios != null and !propietarios.empty}">
            <table class="table table-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">DNI / Pasaporte</th>
                    <th scope="col">Modificar</th>
                    <td scope="col">Inspeccionar</td>
                </tr>
                <tr th:each="propietario : ${propietarios}">
                    <td scope="row" th:text="${propietario.nombre}"></td>
                    <td th:text="${propietario.doc}"></td>
                    <td><a th:href="@{/editar/} + ${propietario.idDuenio}" th:text="Modificar"/></td>
                    <td><a th:href="@{/VehiculosRegistrados/} + ${propietario.idDuenio}" th:text="Inspeccionar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${propietarios == null or propietarios.empty}">
            Tabla vacia!
        </div>
        <br/>
        <span><a th:href="@{/modificarDuenio}" th:text="'Agregar nuevo propietario'"></a></span>
        <br/>
        <span><a href="/" th:text="Regresar"></a></span>
        
        </div>
    </body>
</html>
