<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Revision</title>
        <meta charset="UTF-8"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
         <link rel="stylesheet" href="style.css"/>
    </head>
    <body style="background-color: #212529">
        
        <div class="p-3 mb-2 bg-dark text-white">
            
        <h1>Revision</h1>
        <form th:action="@{/guardadoPostRevision}" method="post" th:object="${inspeccion}">
            <div th:field="${id}" th:object="${inspeccion}"/>
            <p>Posee oblea condicional (No debe abonar)</p>
            <p th:utext="${inspeccion.observaciones}"></p>
            <br/>
            <span>Se arreglaron los problemas listados?</span>
            <span><input type="radio" th:field="*{estado}" th:value="apto"/>si</span>
            <span><input type="radio" th:field="*{estado}" th:value="rechazado"/>no</span>
            <br/>
            <input type="submit" name="guardarRevision" value="Guardar"/>
        </form>
        </div>
    </body>
</html>
